{% extends "base.html" %} {% block title %}About | Shetty777{% endblock %} {%
block description %}About Shetty77. Know about the context, scope and purpose of
this blog site{% endblock %} {% block content %}
<div class="container">
  <div
    class="container"
    style="max-width: 750px; text-align: start; padding: 20px 0"
  >
    <h1 class="display-2">Welcome to my blog!</h1>
    <p style="text-indent: 3rem">
      This website started out as a simple hobby project in 2020 I suppose, but
      it came to a halt very quickly. I did get some things done here-and-there
      during some vacations, but made giant leaps in the project in summer
      vacations of 2024, although it did eat up a lot of time. I just wanted a
      way to share my writings and projects on the internet, and here is the
      result of that. But the best part of this wasn't actually the website
      itself, but the sheer amount of experience I gained in Python & its Flask
      library, CSS & Bootstrap library, a sprinkle of JavaScript, utilising A.I.
      for assistance and just programming in general. I am quite satisfied with
      result, but it is never complete. I <em>might</em> add more features,
      upgrade hosting and other stuff in the future.
    </p>
    <p style="text-indent: 3rem">
      Maintaining consistency here while also trying to perform well academically is
      going to be challenging. I will try my best to keep posting content, but
      we'll see...
    </p>
    <p>
      And I have to express my gratitude to you for even checking out this
      little project by a kid. So,
      <em><strong>Thank you :)</strong></em>
    </p>

    <br /><br />
    <h2 class="display-6">What's new?</h2>
    <p style="text-indent: 3rem">
      <b>28/06/2025</b> - Fixed a security issue. Anyone was able to log in to a
      subscriber's account if they had access to the confirmation email. So, as
      in other websites, you will be redirected to the login page after
      verification instead of being logged in. Please cooperate.
    </p>
    <p style="text-indent: 3rem">
      <b>21/04/2025</b> - The abbr tags in HTMl are not touch-screen friendly. I
      overrode the default behaviour to use tooltips instead; allowing mobile
      users to access them as well.
    </p>
    <p style="text-indent: 3rem">
      <b>20/04/2025</b> - Some refining changes in the backend. The notification
      subject will now be chosen at random from a list of subjects instead of a
      single subject.
    </p>
    <p style="text-indent: 3rem">
      <b>13/04/2025</b> - The favicon has been added. I have added te website to
      Google Search Console and waiting for indexing. There is a sitemap as
      well.
    </p>
    <p style="text-indent: 3rem">
      <b>09/10/2024</b> - REMOVED REDIS CACHING! Gosh. And......I added a
      provision for password reset. Because you guys kept forgetting it
      &#128529;
    </p>
    <p style="text-indent: 3rem">
      <b>06/10/2024</b> - I have implemented basic levels of Redis caching in
      the website to optimise performance. Load times of commonly accessed pages
      should be lesser.
    </p>

    <br /><br />
    <h2 class="display-6">What to expect?</h2>
    <p style="text-indent: 3rem">
      The following are in the back of my mind for maybe upgrading this website
      in the future:
    </p>

    <ul>
      <li>
        <b>Blogs:</b> Not just articles and projects, but periodical content
        about various fields
      </li>
      <li>
        <b>Search tool:</b> Adding a search functionality to the posts when
        there are a lot of them
      </li>
      <li><b>Tags:</b> Adding tags on posts [not likely]</li>
      <li>
        <b>Better hosting:</b> Maybe, upgrade the hosting service and get a new
        address? It is expensive though
      </li>
    </ul>

    <br /><br />
    <h2 class="display-6">Data storage</h2>
    <p style="text-indent: 3rem">
      I mean, this is not the most secure or robust website! But be rest assured
      that all of your passwords (the only "sensitive" data in this whole
      website) are stored <em>securely after hashing</em> and in no step is it
      handled in plain text. Just make sure to not share any sensitive
      information anywhere (like in comments).
    </p>
    <p style="text-indent: 3rem">
      Other than that, posts marked by you will only be accessible and visible
      to you, your <strong>username</strong> will be visible to all users, your
      <strong>E-Mail</strong> address will only be accessible by the website
      itself (for sending mails, duh) and visible only to me.
    </p>

    <br /><br />
    <h2 class="display-6">Responsible use and admin authority</h2>
    <p style="text-indent: 3rem">
      I have not pen-tested or secured this website with any world-class
      security, so <em>please</em> don't deliberately try to break it in any
      way. Please be mindful and appropriate while setting your username and
      commenting on posts. Any violation/abuse of website functionality or
      inappropriate content will lead to deletion of the comment or the user
      themselves upon my decision.
    </p>
    <p style="text-indent: 3rem">
      You may request/complain/inform about anything to me by sending an
      <abbr title="shetty777.blog@gmail.com">E-mail</abbr>. You can also request
      for subscriber account deletion by doing the same or clicking the "Request
      deletion" button in your user dashboard.
    </p>
  </div>
</div>
{% endblock %}
