{% extends "base.html" %}

{% block title %}Projects | Shetty777{% endblock %}
{% block description %}Explore tutorials and guides about Python programming and IoT project ideas{% endblock %}

{% block content %}
<div class='container'>
	<br />
	<h1 style="font-family:Buttermilk; font-size: 4rem;">Projects</h1>
	<h5>Have a look at some cool projects made with Python or built in Raspberry Pi</h5>
	<br />
	<div class="row">
		{% for project in projects_list %}
			<div class="col-sm-4">
				<div class="card pop-up-card" style="margin: 0.5rem; border-radius: 20px;">
					<img src="{{ url_for('.static', filename = project.banner) }}" class="card-img-top" alt="{{project.title}}" style="object-fit: cover; height:12.5rem; border-radius: 20px 20px 0px 0px;">
					<div class="card-body">
					<h5 class="card-title  post-card-title" style="font-family: LibreFranklin; font-weight: bold">{{ project.title }} </h5>
					<a class="stretched-link" href="{{ url_for('routes.web_posts', post_url=project.url) }}"></a>
					<p class="card-text"><small class="text-body-secondary">Posted on:  {{ project.date }}</small></p>
					</div>
				</div>
			</div>
		{% endfor %}		  
	</div>
</div>
{% endblock %}