{% extends "base.html" %}
{% block title %}Reset password | Shetty777{% endblock %}
{% block content %}
<br/><br/>
<h1 style="font-family: Buttermilk; font-size: 4rem; text-align: center">Set a new password</h1>
<form method="POST">
	<div class="container d-flex justify-content-center align-items-center">
		<div class="col-sm-12 p-sm-1 p-md-1 p-lg-5 d-flex justify-content-center align-items-center">
			<div class="card mb-5 w-75 rounded-5 custom-border" style="padding-top:1rem; box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.500); margin: auto">
				<div class="row g-0">
					<div class = "col-md-5 d-flex justify-content-center align-items-center">
						<img src="{{ url_for('static', filename='images/Reset-password.webp') }}" class="card-img mx-auto img-fluid" alt="Login" style="width:20rem">
					</div>
					<div class = "col-md-7">
						{{ form.csrf_token }}
						{{ form.hidden_tag() }}
						<p> </p>
						<div class="ms-5 mb-5 me-5">
							{{ form.new_password.label(class = "form-label", style="font-size: 1rem;") }}
							<div class="input-group flex-nowrap">
								<span class="input-group-text"><i class="bi-key-fill"></i></span>
								{{ form.new_password(class = "form-control custom-input", placeholder="Enter a password") }}
							</div>
						</div>
						<div class="ms-5 mb-5 me-5">
							{{ form.confirm_new_password.label(class = "form-label", style="font-size: 1rem;") }}
							<div class="input-group flex-nowrap">
								<span class="input-group-text"><i class="bi-key-fill"></i></span>
								{{ form.confirm_new_password(class = "form-control custom-input", placeholder="Confirm password") }}
							</div>
						</div>
						<br/>
						<div class="container d-flex justify-content-center align-items-center">
							{{ form.reset(class = "btn custom-btn btn-lg ms-5 mb-5 me-5", style="color:#ffffff; width: 100%") }}
						</div>
						<p>    </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
