{% extends "base.html" %}
{% block title %}Signin | Shetty777{% endblock %}
{% block content %}
<br/><br/>
<h1 style="font-family: Buttermilk; font-size: 4rem; text-align: center">Login to admin account</h1>

<form method="POST">
	<div class="container d-flex justify-content-center align-items-center">
		<div class="col-sm-12 p-sm-1 p-md-1 p-lg-5 d-flex justify-content-center align-items-center">
			<div class="card mb-5 w-75 rounded-5 custom-border" style="padding-top:1rem; box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.500); margin: auto">
				<div class="row g-0">
					<div class = "col-md-5 d-flex justify-content-center align-items-center">
						<img src="{{ url_for('static', filename='images/Admin-login.webp') }}" class="card-img mx-auto img-fluid" alt="Admin" style="width:20rem">
					</div>
					<div class = "col-md-7">
						<div class="m-5 mb-5 me-5">
							<label for="username" class="form-label" style="font-size: 1.5rem;">Username:</label>
							<input type="text" class="form-control custom-input" id="username" name="username" placeholder="Enter Username">
						</div>
						<div class="ms-5 mb-5 me-5">
							<label for="password1" class="form-label" style="font-size: 1.5rem;">First Password:</label>
							<input type="password" class="form-control custom-input" id="password1" name="password1" placeholder="Enter first password">
						</div>
						<div class="ms-5 mb-5 me-5">
							<label for="password2" class="form-label" style="font-size: 1.5rem;">Second Password:</label>
							<input type="password" class="form-control custom-input" id="password2" name="password2" placeholder="Enter second password">
						</div>
						<div class="d-flex justify-content-center align-items-center">
							<button type="submit" class="btn custom-btn btn-lg ms-5 mb-5 me-5" style="color:#ffffff; width: 100%">Sign into admin account</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}